<a href="https://colab.research.google.com/github/nishant-sru/ML_LAB/blob/main/ML_lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tasks:
1. Load the dataset using Pandas.
2. Display first and last five rows.
3. Find shape, columns, and data types.
4. Generate descriptive statistics.

In [14]:
import pandas as pd
df = pd.read_csv('/content/Student_Performance.csv')
#printing the First Five rows
print("The First Five Rows: ")
display(df.head())
print()
#printing the last Five Rows
print("The Last Five Rows: ")
display(df.tail())
print()
#Shape of the dataframe
print("Shape of the DataFrame:", df.shape)
print()
#Columns of dataframe
print("Columns of the DataFrame:", df.columns.tolist())
print()
#Data types and non-null counts
print("Data types and non-null counts: ")
df.info()
print()
#Descriptive statistics
print("Descriptive statistics: ")
display(df.describe(include='all'))
print()

The First Five Rows:

,student_id,age,gender,school_type,parent_education,study_hours,attendance_percentage,internet_access,travel_time,extra_activities,study_method,math_score,science_score,english_score,overall_score,final_grade
0,1,14,male,public,post graduate,3.1,84.3,yes,<15 min,yes,notes,42.7,55.4,57.0,53.1,e
1,2,18,female,public,graduate,3.7,87.8,yes,>60 min,no,textbook,57.6,68.8,64.8,61.3,d
2,3,17,female,private,post graduate,7.9,65.5,no,<15 min,no,notes,84.8,95.0,79.2,89.6,b
3,4,16,other,public,high school,1.1,58.1,no,15-30 min,no,notes,44.4,27.5,54.7,41.6,e
4,5,16,female,public,high school,1.3,61.0,yes,30-60 min,yes,group study,8.9,32.7,30.0,25.4,f

The Last Five Rows:

,student_id,age,gender,school_type,parent_education,study_hours,attendance_percentage,internet_access,travel_time,extra_activities,study_method,math_score,science_score,english_score,overall_score,final_grade
24995,12047,17,female,public,phd,1.8,55.2,yes,15-30 min,no,mixed,55.8,48.5,46.7,46.1,e
24996,1102,16,female,private,diploma,2.7,97.1,yes,<15 min,no,coaching,64.8,48.2,52.3,56.5,d
24997,4422,19,other,private,post graduate,1.0,63.0,yes,<15 min,no,group study,50.5,20.3,36.1,36.7,f
24998,7858,14,male,private,diploma,1.0,69.4,yes,15-30 min,yes,group study,13.0,34.2,7.3,34.1,f
24999,11621,18,other,public,no formal,0.7,60.3,yes,30-60 min,no,mixed,36.5,45.1,16.5,31.4,f

Shape of the DataFrame: (25000, 16)

Columns of the DataFrame: ['student_id', 'age', 'gender', 'school_type', 'parent_education', 'study_hours', 'attendance_percentage', 'internet_access', 'travel_time', 'extra_activities', 'study_method', 'math_score', 'science_score', 'english_score', 'overall_score', 'final_grade']

Data types and non-null counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   student_id             25000 non-null  int64
 1   age                    25000 non-null  int64
 2   gender                 25000 non-null  object
 3   school_type            25000 non-null  object
 4   parent_education       25000 non-null  object
 5   study_hours            25000 non-null  float64
 6   attendance_percentage  25000 non-null  float64
 7   internet_access        25000 non-null  object
 8   travel_time            25000 non-null  object
 9   extra_activities       25000 non-null  object
 10  study_method           25000 non-null  object
 11  math_score             25000 non-null  float64
 12  science_score          25000 non-null  float64
 13  english_score          25000 non-null  float64
 14  overall_score          25000 non-null  float64
 15  final_grade            25000 non-null  object
dtypes: float64(6), int64(2), object(8)
memory usage: 3.1+ MB

Descriptive statistics:

,student_id,age,gender,school_type,parent_education,study_hours,attendance_percentage,internet_access,travel_time,extra_activities,study_method,math_score,science_score,english_score,overall_score,final_grade
count,25000.00000,25000.000000,25000,25000,25000,25000.000000,25000.000000,25000,25000,25000,25000,25000.000000,25000.000000,25000.000000,25000.000000,25000
unique,NaN,NaN,3,2,6,NaN,NaN,2,4,2,6,NaN,NaN,NaN,NaN,6
top,NaN,NaN,other,private,diploma,NaN,NaN,yes,15-30 min,yes,mixed,NaN,NaN,NaN,NaN,d
freq,NaN,NaN,8463,12725,4314,NaN,NaN,21227,6362,12500,4341,NaN,NaN,NaN,NaN,6311
mean,7493.04380,16.482760,NaN,NaN,NaN,4.253224,75.084084,NaN,NaN,NaN,NaN,63.785944,63.745320,63.681948,64.006172,NaN
std,4323.56215,1.703895,NaN,NaN,NaN,2.167541,14.373171,NaN,NaN,NaN,NaN,20.875262,20.970529,20.792693,18.932025,NaN
min,1.00000,14.000000,NaN,NaN,NaN,0.500000,50.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,14.500000,NaN
25%,3743.75000,15.000000,NaN,NaN,NaN,2.400000,62.800000,NaN,NaN,NaN,NaN,48.300000,48.200000,48.300000,49.000000,NaN
50%,7461.50000,16.000000,NaN,NaN,NaN,4.300000,75.100000,NaN,NaN,NaN,NaN,64.100000,64.100000,64.200000,64.200000,NaN
75%,11252.00000,18.000000,NaN,NaN,NaN,6.100000,87.500000,NaN,NaN,NaN,NaN,80.000000,80.000000,80.000000,79.000000,NaN
max,15000.00000,19.000000,NaN,NaN,NaN,8.000000,100.000000,NaN,NaN,NaN,NaN,100.000000,100.000000,100.000000,100.000000,NaN